@{
  Layout = "_Layout";
}

@model HotelCRM.Models.Room

<h2>Confirm deletion of this property?</h2>

@Html.DisplayNameFor(model => model.RoomNumber): @Html.DisplayFor(model => model.RoomNumber)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}