<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hotel CRM</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  </head>
  <body>
      <nav class="navbar navbar-light">  
      <div class="container-fluid" id = "nav-background">  
        <ul class="nav navbar-nav">
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span><li><a href="/">Home</a></li>  
          </button>
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span><li><a href="/Properties/">Properties</a></li>  
          </button>
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span><li><a href="/Rooms/">Rooms</a></li>  
          </button>   
          <button type="button" class="btn btn-dark">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span><li><a href="/Guests/">Guests</a></li>  
          </button>  
        </ul>  
      </div>  
    </nav>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>